<section class="horizontal-form">
  {{#if needAPIToken}}
    <form>
      <div class="over-hr r-mb20">
        <span>Account Access</span>
      </div>
      <div class="row form-group">
        <div class="col-md-2">
          <label class="form-control-static">API Token*</label>
        </div>
        <div class="col-md-10">
          {{input type="password" value=config.token classNames="form-control"
                  placeholder="Your cloudscale.ch API Token"}}
          <p class="help-block">Create your API Token in the
            <a target="_blank" href="https://control.cloudscale.ch/user/api-tokens">cloudscale.ch cloud control
              panel</a>.</p>
        </div>
      </div>
      {{top-errors errors=errors}}
      <div class="footer-actions">
        {{#if gettingData}}
          <button class="btn bg-primary btn-disabled">
            <i class="icon icon-spinner icon-spin"></i> {{t 'generic.loading'}}</button>
        {{else}}
          <button {{action "getData" }} class="btn bg-primary" disabled={{not config.token}}>Configure
            Server
          </button>
        {{/if}}
        <button {{action "cancel"}} class="btn bg-transparent">{{t 'generic.cancel'}}</button>
      </div>
    </form>
  {{else}}
    {{#accordion-list showExpandAll=false as | al expandFn |}}
      <div class="over-hr">
        <span>{{driverOptionsTitle}}</span>
      </div>

      {{#accordion-list-item
        title="Server"
        detail="Customize the server that will be created."
        expandAll=expandAll
        expand=(action expandFn)
        expandOnInit=true
      }}
        <div class="row">
          <div class="col span-6">
            <label class="acc-label">
              Image
            </label>
            <select
              class="form-control"
              onchange={{action "handleImageChange" value="target.value"}}
            >
              {{#each imageChoices as |choice|}}
                <option
                  value={{choice.slug}}
                  selected={{eq config.image choice.slug}}>
                  {{choice.name}}
                </option>
              {{/each}}
            </select>
          </div>
          <div class="col span-6">
            <label class="acc-label">
              Image
            </label>
            <select
              class="form-control"
              onchange={{action (mut config.flavor) value="target.value" }}
            >
              {{#each flavorChoices as |choice|}}
                <option
                  value={{choice.slug}}
                  selected={{eq config.flavor choice.slug}}>
                  {{choice.name}} - {{choice.memory_gb}}GB Memory - {{choice.vcpu_count}} CPU
                </option>
              {{/each}}
            </select>
          </div>
        </div>
      {{/accordion-list-item}}

      {{#accordion-list-item
        title="Storage"
        detail="Customize the storage of the server that will be created."
        expandAll=expandAll
        expand=(action expandFn)
        expandOnInit=false
      }}
        <div class="row">
          <div class="col span-6">
            <label class="acc-label">
              Root Volume (in GB)
            </label>
            <div>
              {{input
                type="text"
                value=config.volumeSizeGb
                classNames="form-control"
              }}
            </div>
          </div>
        </div>
      {{/accordion-list-item}}

      {{#accordion-list-item
        title="Advanced Options"
        detail="Customize the network and other options of the server that will be created."
        expandAll=expandAll
        expand=(action expandFn)
        expandOnInit=false
      }}

        <div class="row">
          <div class="col span-6">
            <label class="acc-label">
              Enable Private Network Interface
            </label>
            <div>
              {{input
                type="checkbox"
                checked=config.usePrivateNetwork
                value=config.usePrivateNetwork classNames="form-control"
              }}
            </div>
          </div>
          <div class="col span-6">
            <label class="acc-label">
              Enable IPv6 Address on Public Interface
            </label>
            <div>
              {{input
                type="checkbox"
                checked=config.useIpv6
                value=config.useIpv6
                classNames="form-control"
              }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col span-12">
            <div class="clearfix">
              <label class="acc-label">
                Server Groups
              </label>
            </div>
            {{#if serverGroupsChoices.length}}
              <select
                class="form-control"
                onchange={{action "handleServerGroupChange" value="target.value"}}
              >
                <option value selected>
                  None
                </option>
                {{#each serverGroupsChoices as |choice|}}
                  <option
                    value={{choice.uuid}}
                    selected={{eq config.serverGroups.[0] choice.uuid}}>
                    {{choice.name}}
                  </option>
                {{/each}}
              </select>
            {{ else }}
              You do not have any server groups as of now.
            {{/if}}
            <div class="protip pt-10">
              See <a href="https://www.cloudscale.ch/en/api/v1#server-groups">cloudscale.ch API Documentation</a> for
              more information.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col span-12">
            <label class="acc-label">
              Cloud-init Configuration (optional)
            </label>
            <div>
              <textarea
                value={{config.userdata}}
                onchange={{action (mut config.userdata) value="target.value" }}
                rows="3"
                style="width: 100%; resize: vertical">
              </textarea>
            </div>
          </div>
        </div>
      {{/accordion-list-item}}


      <div class="over-hr">
        <span>{{templateOptionsTitle}}</span>
      </div>
      {{!-- This following contains the Name, Labels and Engine Options fields --}}
      {{form-name-description model=model nameRequired=true}}
      {{form-user-labels initialLabels=labelResource.labels setLabels=(action 'setLabels') expandAll=expandAll
                         expand=(action expandFn) }}
      {{form-engine-opts machine=model showEngineUrl=showEngineUrl }}
      {{!-- This component shows errors produced by validate() in the component --}}
      {{top-errors errors=errors}}
      {{!-- This component shows the Create and Cancel buttons --}}
      {{save-cancel
        save=(action "save")
        cancel=(action "cancel")
      }}
    {{/accordion-list}}
  {{/if}}
</section>
