<section class="horizontal-form">
  {{#if needAPIToken}}
  <form>
    <div class="over-hr r-mb20">
      <span>Account Access</span>
    </div>
    <div class="row form-group">
      <div class="col-md-2">
        <label class="form-control-static">API Token*</label>
      </div>
      <div class="col-md-10">
        {{input type="password" value=model.cloudscaleConfig.token classNames="form-control" placeholder="Your cloudscale.ch Cloud API Token"}}
        <p class="help-block">Create it by switching into
          <a target="_blank" href="https://control.cloudscale.ch/">cloudscale.ch Control</a>, choosing a project and create a new API token there.</p>
      </div>
    </div>
    {{top-errors errors=errors}}
    <div class="footer-actions">
      {{#if gettingData}}
      <button class="btn bg-primary btn-disabled">
        <i class="icon icon-spinner icon-spin"></i> {{t 'generic.loading'}}</button>
      {{else}}
      <button {{action "getData" }} class="btn bg-primary" disabled={{not model.cloudscaleConfig.token}}>Configure Server</button>
      {{/if}}
      <button {{action "cancel"}} class="btn bg-transparent">{{t 'generic.cancel'}}</button>
    </div>
  </form>
  {{else}}
  <div class="container-fluid">
    {{!-- This partial contains the quantity, name, and description fields --}}
    <div class="over-hr">
      <span>{{templateOptionsTitle}}</span>
    </div>
    <div class="over-hr r-mt20 r-mb20">
      <span>Settings</span>
    </div>
    <div class="row form-group">
      <div class="col-md-2">
        <label class="form-control-static">Image</label>
      </div>
      <div class="col-md-4">
        <select class="form-control" onchange={{action (mut model.cloudscaleConfig.imageId) value="target.value" }}>
          {{#each imageChoices as |choice|}}
            <option value={{choice.id}} selected={{eq model.cloudscaleConfig.image choice.id}}>{{choice.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-md-2">
        <label class="form-control-static">Flavor</label>
      </div>
      <div class="col-md-4">
        <select class="form-control" onchange={{action (mut model.cloudscaleConfig.flavor) value="target.value" }}>
          {{#each flavorChoices as |choice|}}
            <option value={{choice.name}} selected={{eq model.cloudscaleConfig.flavor choice.slug}}>{{choice.name}} - {{choice.memory_gb}}GB Memory - {{choice.vcpu_count}} CPU</option>
          {{/each}}
        </select>
      </div>
      <div class="col-md-2">
        <label class="form-control-static">Root Volume</label>
      </div>
      <div class="col-md-4">
        {{input type="text" onchange={{action (mut model.cloudscaleConfig.volume_size_gb) value="model.cloudscaleConfig.volume_size_gb" classNames="form-control" }}
      </div>
    </div>
    <div class="over-hr r-mt20 r-mb20">
      <span>User data</span>
    </div>
    <div class="row form-group">
      <div class="col-md-2">
        <label class="form-control-static">Cloud-init Configuration (optional)</label>
      </div>
      <div class="col-md-10">
        <textarea value={{model.cloudscaleConfig.userData}} onchange={{action (mut model.cloudscaleConfig.userData) value="target.value" }} rows="3" style="width: 100%; resize: vertical"></textarea>
      </div>
    </div>
     {{!-- This following contains the Name, Labels and Engine Options fields --}}
     {{form-name-description model=model nameRequired=true}}
     {{form-user-labels initialLabels=labelResource.labels setLabels=(action 'setLabels') expandAll=expandAll expand=(action expandFn) }}
     {{form-engine-opts machine=model showEngineUrl=showEngineUrl }}
     {{!-- This component shows errors produced by validate() in the component --}}
     {{top-errors errors=errors}}
     {{!-- This component shows the Create and Cancel buttons --}}
     {{save-cancel save="save" cancel="cancel"}}
  </div>
  {{/if}}
</section>
